.config/lf/shortcutrc
.config/shell/shortcutenvrc
.config/shell/shortcutrc
.config/shell/zshnameddirrc
.config/zsh/.zcompdump
.config/librewolf/*
.config/discord/*
.config/calcurse/*
.config/go/*
.config/ncmpcpp/*
.local/state/*
.local/share/*
.local/src/*
