.config/lf/shortcutrc
.config/shell/shortcutenvrc
.config/shell/shortcutrc
.config/shell/zshnameddirrc
.config/zsh/.zcompdump
.local/share/newsboat/cache.db
.local/share/xorg/Xorg.0.log
.local/state/wireplumber/stream-properties
